#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: var(--interface-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom-right-radius: 1em;
}

nav {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    text-align: left;
}

nav > a {
    border: 1px solid var(--interface-color);
    padding-left: 1em;
    padding-right: 1em;
}

a {
    font-weight: 500;
    color: var(--secondary-text-color);
    text-decoration: inherit;
}

nav > a:hover {
    background-color: var(--interface-color-selected);
    border: 1px solid var(--interface-color-selected);
    border-radius: 15px;
}

nav > a:active {
    color: var(--primary-text-color);
    border: 1px solid var(--interface-color-selected);
    border-radius: 15px;
}

main {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--background-color);
    max-width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin: 0 1em;
    padding-top: 1em;
}

button {
    cursor: pointer;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-image {
    margin-right: 1em;
}

.records-tab {
    background-color: var(--shadow-color);
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: stretch;
    justify-content: space-between;
}

.records-tab-button {
    background-color: var(--shadow-color);
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    padding: 0 1em;
    margin: 0 1em;
    text-align: center;
    color: var(--secondary-text-color);
}

.records-tab-button:hover {
    background-color: var(--background-light-color);
    border: 1px solid var(--background-light-color);
    border-radius: 15px;
}

.championships {
    display: grid;
    justify-content: space-evenly;
}

.championship-line {
    background-color: var(--shadow-color);
    padding: 1em;
    margin-bottom: 1em;
}

.championship-manager {
    background-color: var(--background-light-color);
    border: 1px solid var(--background-light-color);
    border-radius: 5px;
    padding: 0 1em;
    margin-bottom: 1em;
    text-align: center;
}

.championship-years {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 1em;
    row-gap: 1em;
}

.championship-year {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light-color);
    border: 1px solid var(--background-light-color);
    border-radius: 5px;
    align-items: center;
    justify-self: stretch;
    justify-content: space-between;
}

.championship-trophy {
    width: 150px;
}

.championship-team {
    border: 2px solid black;
    border-radius: 5px;
    margin: 1em;
    text-align: center;
}
